// === Mixins [ Шаблоны классов стилей, используемых на всех страницах ]===

body {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    background-color: $color_bg_main;
    color: #fff;
}

svg {
    fill: $color_main;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 20px;
    height: 20px;
}

@mixin boxShadow {
    box-shadow: 0.625rem 0.625rem 0.3rem 0px rgba(0,0,0,0.4);
}

@mixin boxShadowHover {
    box-shadow: 1rem 1rem 0.3rem 0px rgba(0,0,0,0.4);
}

@mixin boxShadowItem {
    box-shadow: 0.625rem 0.625rem 0.625rem -0.25rem rgba(15,15,15,1);
}

@mixin boxShadowItemHover {
    box-shadow: 1rem 1rem 0.625rem -0.35rem rgba(15,15,15,1);
}

// === / Mixins ===