@import "normalize";
@import "colors";
@import "grid";
//@import "fonts";
//@import "lightslider";
@import "animate";
@import "mixins";
@import "header";
@import "footer";

// === / SectionName ===

.section-main {
    margin: 2rem;

    .section-inner {
        display: flex;
    }

    &-pane {
        margin-right: 2rem;
        background-color: $color_bg_card;
        min-height: calc(100vh - (2rem * 2) - 3.5rem);
        padding: 1.5rem;
        position: fixed;
        @include boxShadow;
        min-width: 300px;

        position: sticky;
        top: 2rem;
        height: calc(100vh - 4rem);

        display: flex;
        flex-direction: column;

        .account {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-name {
                display: flex;
                align-items: center;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                span {
                    margin-left: 0.5rem;
                }

                &:hover {
                    color: $color_success;

                    svg {
                        fill: $color_success;
                    }
                }
            }

            &-links {
                display: flex;

                svg {    
                    &:hover {
                        fill: $color_success;
                    }
                }
            }

            svg {
                fill: $color_main;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                width: 20px;
                height: 20px;
            }

            
        }

        .items {
            margin: 1.5rem 0 auto 0;

            &-item {
                background-color: $color_checked;
                transition: 0.3s ease-in-out;
                padding: 1rem;
                cursor: pointer;
                @include boxShadowItem;
    
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                &:not(:last-child) {
                    margin-bottom: 1.2rem;
                }
    
                &:hover {
                    transform: translate(-0.25rem, -0.25rem);
                    @include boxShadowItemHover;
                }
    
                &-text {
    
                }
    
                &-stat {
                    font-size: 0.85rem;
    
                    &.completed {
                        text-decoration: line-through;
                        color: $color_success;
                    }
                }
            }
        }

        .author {
            h4 {
                text-align: center;
                color: $color_success;
            }
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: flex-start;
        gap: 2rem;

        .card {
            padding: 2rem;
            background-color: $color_bg_card;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            @include boxShadow;

            &:hover {
                background-color: darken($color_bg_card, 2);
                transform: translate(-0.25rem, -0.25rem);
                @include boxShadowHover;
            }

            h3 {
                font-size: 1.3rem;
                padding-bottom: 0.4rem;
                border-bottom: 0.15rem solid $color_main;
                margin-bottom: 1rem;
            }

            &-container {

                &-items {
                    
                    &-item {
                        display: flex;
                        cursor: pointer;
    
                        input[type="checkbox"] {
                            -webkit-appearance: none;
                            width: 0;
                            height: 0;
                            visibility: hidden;
                        }
    
                        input[type="checkbox"]:checked ~ span::before {
                            border-top: none;
                            border-right: none;
                            height: 0.7rem;
                            width: 1.2rem;
                            transform: rotate(-45deg);
                            top: calc(50% - 0.7rem + 0.1rem);
                            border-color: $color_success;
                        }
    
                        input[type="checkbox"]:checked ~ span {
                            color: $color_checked;
                            text-decoration: line-through;
                        }
    
                        // input[type="checkbox"]:checked ~ span::after {
                        //     transform: translateY(-50%) scaleX(1);
                        // }
    
                        span {
                            position: relative;
                            font-size: 0.9rem;
                            line-height: 1.5;
                            padding-left: calc(1.2rem + 0.8rem);
                            transition: 0.3s ease-in-out;
    
                            &::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                height: 1.2rem;
                                width: 1.2rem;
                                border: 0.1rem solid $color_main;
                                top: 50%;
                                transform: translateY(-50%);
                                transition: 0.3s ease-in-out;
                            }
                        }
    
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}

// === SectionName ===