@import "normalize";
@import "colors";
@import "grid";
//@import "fonts";
//@import "lightslider";
@import "animate";
@import "mixins";
@import "header";
@import "footer";

// === / SectionName ===

.section-main {
    margin: 2rem;

    .section-inner {
        display: flex;
    }

    &-pane {
        margin-right: 2rem;
        background-color: $color_bg_card;
        min-height: calc(100vh - (2rem * 2) - 3.5rem);
        position: fixed;
        @include boxShadow;
        min-width: 300px;

        position: sticky;
        top: 2rem;
        height: calc(100vh - 4rem);

        display: flex;
        flex-direction: column;

        .account {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $color_checked;
            padding: 1.4rem 1.5rem;

            &-name {
                display: flex;
                align-items: center;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                span {
                    margin-left: 0.5rem;
                    padding-top: 0.2rem;
                }

                &:hover {
                    color: $color_success;

                    svg {
                        fill: $color_success;
                    }
                }
            }

            &-links {
                display: flex;

                svg {    
                    &:hover {
                        fill: $color_success;
                    }
                }
            }      
        }

        .items {
            padding: 0 1.5rem;
            margin: 1.5rem 0 auto 0;

            &-item {
                background-color: $color_checked;
                transition: 0.3s ease-in-out;
                padding: 1rem;
                cursor: pointer;
                @include boxShadowItem;
    
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                &:not(:last-child) {
                    margin-bottom: 1.2rem;
                }
    
                &:hover {
                    transform: translate(-0.25rem, -0.25rem);
                    @include boxShadowItemHover;
                }
    
                &-text {
    
                }
    
                &-stat {
                    font-size: 0.85rem;
    
                    &.completed {
                        color: $color_success;
                    }
                }
            }
        }

        .author {
            padding: 1.5rem;

            h4 {
                text-align: center;
                color: $color_success;
            }
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: flex-start;
        gap: 2rem;

        @media ($media_xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .card {
            background-color: $color_bg_card;
            transition: 0.3s ease-in-out;
            @include boxShadow;
            align-self: flex-start;

            &:hover {
                background-color: darken($color_bg_card, 2);
                transform: translate(-0.25rem, -0.25rem);
                @include boxShadowHover;

                .card-footer-add svg {
                    opacity: 1;
                }
            }

            &-header {
                padding: 1.5rem 2rem 1rem 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $color_checked;

                h3 {
                    font-size: 1.3rem;
                }
            }

            &-container {
                padding: 0.7rem 2rem;

                &-items {
                    
                    &-item {

                        &-text {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            cursor: pointer;
                            padding-top: 0.9rem;

                            input[type="checkbox"] {
                                -webkit-appearance: none;
                                width: 0;
                                height: 0;
                                visibility: hidden;
                            }
        
                            input[type="checkbox"]:checked ~ span::before {
                                border-top: none;
                                border-right: none;
                                height: 0.7rem;
                                width: 1.2rem;
                                transform: rotate(-45deg);
                                top: calc(50% - 0.7rem + 0.1rem);
                                border-color: $color_success;
                            }
        
                            input[type="checkbox"]:checked ~ span {
                                color: $color_checked;
                                text-decoration: line-through;
                            }
        
                            // input[type="checkbox"]:checked ~ span::after {
                            //     transform: translateY(-50%) scaleX(1);
                            // }
        
                            span {
                                position: relative;
                                font-size: 0.9rem;
                                line-height: 1.6;
                                padding-left: calc(1.2rem + 0.8rem);
                                transition: 0.3s ease-in-out;
        
                                &::before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    height: 1rem;
                                    width: 1rem;
                                    border: 0.08rem solid $color_main;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    transition: 0.3s ease-in-out;
                                }
                            }
                        }

                        &-edit {
                            display: flex;
                            flex-basis: 100%;
                            justify-content: flex-end;
                            margin: 0.2rem 0;
                            transition: 0.3s ease-in-out;
                            opacity: 0;

                            svg {
                                width: 12px;
                                height: 12px;
                                fill: $color_warning;
                                margin-left: 0.4rem;
                            }

                            &-date, &-links {
                                display: flex;
                                align-items: center;
                            }

                            &-date {

                                span {
                                    font-size: 0.65rem;
                                    padding-top: 0.2rem;
                                    color: $color_success;
                                }

                                svg {
                                    fill: $color_success;
                                }
                            }

                            &-links {

                                svg {
    
                                    &:last-child {
                                        fill: $color_error;
                                    }
                                }
                            }
                        }
    
                        &:not(:last-child) {
                            margin-bottom: 0.7rem;
                            border-bottom: 1px solid $color_checked;
                        }

                        &:hover {
                            .card-container-items-item-edit {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            &-footer {
                padding: 0.3rem 2rem 1rem 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-date {
                    display: flex;
                    align-items: center;
                    color: $color_warning;

                    span {
                        padding-top: 0.1rem;
                        margin-left: 0.5rem;
                        font-size: 0.8rem;
                    }

                    svg {
                        fill: $color_warning;
                    }
                }

                &-add {
                    svg {
                        opacity: 0;

                        &:hover {
                            fill: $color_success;
                        }
                    }
                }

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}

// === SectionName ===